*{
    box-sizing: border-box;
}
body{
    margin:50px;
    font-size:17px;
}
p{
    color:blue;
    font-size:20px;
    font-family: 'Noto Sans JP', sans-serif;
   
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
}
table {
    width:600px;
}
table thead{
    background-color: salmon;
    text-align: left;
}
th, td{
    padding: 10px;
}
tbody tr:hover{
    background-color: #707070;
}
tbody td{
    border-bottom:1px solid #CCC;
}
tbody tr:nth-child(even){
    background-color: #CCC;
}